# Node.js modules
node_modules/

# React Native bundler and metro cache
*.log
*.log.*
react-native-cache/
dist/

# Build files
ios/Pods/
ios/build/
android/.gradle/
android/build/
android/app/build/

# Expo
.expo/
.expo-shared/

# Xcode & Android Studio specific files
*.xcodeproj/
*.xcworkspace/
ios/*.xcuserstate
ios/*.xcuserdata/

# Android Studio specific files
.gradle/
.idea/
*.iml

# Firebase & Google services files
google-services.json
GoogleService-Info.plist

# macOS system files
.DS_Store

# Coverage reports
coverage/

# Any sensitive files
.env
.env.local